automation/janseva-critical-alert-workflow.json
{
  "name": "JanSeva Alert Workflow (Fixed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "janseva-new-issue",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "b5d2892e-bcd4-4e34-bae4-0ed6d60fe354",
      "name": "New Issue Webhook",
      "webhookId": "janseva-new-issue"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "200e8900-fc24-40be-8790-89ea287bb5f2",
              "leftValue": "={{ $json.body.severity }}",
              "rightValue": "Critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [240, 0],
      "id": "9d6bd6b0-c4d9-49f1-8214-26011cd910b0",
      "name": "If Critical"
    },
    {
      "parameters": {
        "sendTo": "shreyachowdhury973@gmail.com",
        "subject": "=\uD83D\uDEA8 Critical Civic Issue Alert - JanSeva #{{ $json.body.id }}",
        "message": "=\uD83D\uDEA8 Critical Issue Reported\n\nID: {{ $json.body.id }}\nTitle: {{ $json.body.title }}\nCategory: {{ $json.body.category }}\nSeverity: {{ $json.body.severity }}\nAddress: {{ $json.body.address }}\nZone: {{ $json.body.zone }}\nDepartment: {{ $json.body.department }}\nReported At: {{ $json.body.createdAt }}\n\nPlease take immediate action.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [480, -120],
      "id": "e58aa090-88c0-42e9-a906-ef2de0f76a62",
      "name": "Send Critical Alert Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "PyXGf8GuGpMs0PPv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, -120],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Merge Issue + Gmail Response"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1y-R4mwofiZcjhjm87rUk6TUdnj0_nyb1nzzSl-gWvDQ",
          "mode": "list",
          "cachedResultName": "JanSeva Issues Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-R4mwofiZcjhjm87rUk6TUdnj0_nyb1nzzSl-gWvDQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-R4mwofiZcjhjm87rUk6TUdnj0_nyb1nzzSl-gWvDQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id":             "={{ $json.body.id }}",
            "title":          "={{ $json.body.title }}",
            "category":       "={{ $json.body.category }}",
            "severity":       "={{ $json.body.severity }}",
            "address":        "={{ $json.body.address }}",
            "zone":           "={{ $json.body.zone }}",
            "reportedAt":     "={{ $json.body.createdAt }}",
            "department":     "={{ $json.body.department }}",
            "gmailMessageId": "={{ $json.id }}",
            "gmailThreadId":  "={{ $json.threadId }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "id",             "displayName": "id",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "title",          "displayName": "title",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "category",       "displayName": "category",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "severity",       "displayName": "severity",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "address",        "displayName": "address",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "zone",           "displayName": "zone",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "reportedAt",     "displayName": "reportedAt",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "department",     "displayName": "department",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "gmailMessageId", "displayName": "gmailMessageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "gmailThreadId",  "displayName": "gmailThreadId",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [960, -120],
      "id": "67ecbe63-2f66-4e1b-b4b7-1c7ce4d2bb38",
      "name": "Log Critical Issue (with Gmail IDs)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DY543Qt3Gkub5HuE",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1y-R4mwofiZcjhjm87rUk6TUdnj0_nyb1nzzSl-gWvDQ",
          "mode": "list",
          "cachedResultName": "JanSeva Issues Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-R4mwofiZcjhjm87rUk6TUdnj0_nyb1nzzSl-gWvDQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-R4mwofiZcjhjm87rUk6TUdnj0_nyb1nzzSl-gWvDQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id":         "={{ $json.body.id }}",
            "title":      "={{ $json.body.title }}",
            "category":   "={{ $json.body.category }}",
            "severity":   "={{ $json.body.severity }}",
            "address":    "={{ $json.body.address }}",
            "zone":       "={{ $json.body.zone }}",
            "reportedAt": "={{ $json.body.createdAt }}",
            "department": "={{ $json.body.department }}",
            "gmailMessageId": "",
            "gmailThreadId":  ""
          },
          "matchingColumns": [],
          "schema": [
            { "id": "id",             "displayName": "id",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "title",          "displayName": "title",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "category",       "displayName": "category",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "severity",       "displayName": "severity",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "address",        "displayName": "address",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "zone",           "displayName": "zone",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "reportedAt",     "displayName": "reportedAt",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "department",     "displayName": "department",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "gmailMessageId", "displayName": "gmailMessageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "gmailThreadId",  "displayName": "gmailThreadId",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [480, 120],
      "id": "dfa41cce-5fcd-487b-ac52-924ccb7f5e25",
      "name": "Log Non-Critical Issue",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DY543Qt3Gkub5HuE",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"received\": true }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [240, -240],
      "id": "f9e8d7c6-b5a4-3210-fedc-ba9876543210",
      "name": "Respond 200 OK"
    }
  ],
  "connections": {
    "New Issue Webhook": {
      "main": [
        [
          { "node": "Respond 200 OK",  "type": "main", "index": 0 },
          { "node": "If Critical",     "type": "main", "index": 0 }
        ]
      ]
    },
    "If Critical": {
      "main": [
        [
          { "node": "Send Critical Alert Email", "type": "main", "index": 0 },
          { "node": "Merge Issue + Gmail Response", "type": "main", "index": 0 }
        ],
        [
          { "node": "Log Non-Critical Issue", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Critical Alert Email": {
      "main": [
        [
          { "node": "Merge Issue + Gmail Response", "type": "main", "index": 1 }
        ]
      ]
    },
    "Merge Issue + Gmail Response": {
      "main": [
        [
          { "node": "Log Critical Issue (with Gmail IDs)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a8d947a91bfc59ada8dbd436a8038b70d22a10d661138be033143f528f93534"
  },
  "nodeGroups": [],
  "tags": []
}
